name: Deploy

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Extract tag version number
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Install Dependencies
        run: |
          node --version
          npm --version
          npm i

      - name: Build Site
        run: |
          npm run build
          touch build/.nojekyll
          echo "blog.strefapiesza.pl" > CNAME

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          folder: build
